body {
  margin-top: 50px;
}

.navbar-right {
  margin-top: 10px;
  margin-right: 10px;
}

.nav-pills > li.active > a {
  color: #fff !important;
  background-color: #337AB7 !important;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-right .btn-group {
  margin-right: 1rem;
  margin-top: -2px;
}
